/* @media screen and (min-width: 360px) and (max-width:640px) {
    .imageElement--image__categories-one {
        width: 117.62px;
    }
    
    .imageElement--image__categories-two {
        width: 95.42px;
    }
    
    .imageElement--image__categories-three {
        width: 75.44px;
    }
    
    .imageElement--image__categories-four {
        width: 99.72px;
    }
    
    .imageElement--image__categories-five {
        width: 109.48px;
    }
    
    .imageElement--image__categories-six {
        width: 105.04px;
    }
    
    .imageElement--image__categories-seven {
        width: 102.82px;
    }
    
    .imageElement--image__categories-eight {
        width: 90.99px;
    }
    
    .imageElement--image__categories-nine {
        width: 105.04px;
    }
} */

