.paragraph--rich__home-principal {
    font-size: 24px;
    font-family: 'Lexend-Light';
    width: 324px;
    color: #1D2734;
}

.paragraph--rich__home-second {
    font-size: 20px;
    font-family: 'Lexend-Light';
    color: #1D2734;
    margin: 32.32px 0 0 0;
}

.link--text__categories-home {
    font-size: 21.271px;
    font-family: 'Lexend-Medium';
    color: #1D2734;
    text-decoration: none;
}